.page-title {
  color: #ffff;
  background-color: #17202A;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 25px;
}

#mat-dialog-0 {
  display: flex;
  flex-wrap: wrap;
}

#action-btn:hover {
  font-size: 18px;
  border-radius: 20%;
}


.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 30px;
  background-color: #34495e;
}

img {
  max-width: 250px;
}