<div class="profile-container" style="display: flex; padding: 20px;">

  <mat-card style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>
        <h1>Hey {{ user.Username | uppercase }}!</h1>
      </mat-card-title>
      <mat-card-subtitle>Welcome back!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="user-info">
        <h2>Account Details</h2>
        <p>
          <strong>Username:</strong> {{ user.Username }}
        </p>
        <p>
          <strong>Email:</strong> {{ user.Email }}
        </p>
        <p>
          <strong>Birthday:</strong> {{ user.Birthday | date }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openEditUserDialog()">
        Edit Account
      </button>
      <button mat-raised-button color="warn">Delete Account</button>
    </mat-card-actions>

    <!-- FAVORITE MOVIES -->
    <div class="favorite-movies">
      <mat-card>
        <mat-card-title>Your Favorite Movies</mat-card-title>
        <mat-card-subtitle>Edit your Favorites</mat-card-subtitle>
        <mat-card-content>
          <p>
            <strong>Favorite Movies:</strong> {{ user.FavoriteMovies }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>



</div>