<div class="profile-container" style="display: flex; padding: 20px;">

  <mat-card style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>
        <h1>Hey {{ user.Username | uppercase }}!</h1>
      </mat-card-title>
      <mat-card-subtitle>Welcome back!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="user-info">
        <h2>Account Details</h2>
        <p>
          <strong>Username:</strong> {{ user.Username }}
        </p>
        <p>
          <strong>Email:</strong> {{ user.Email }}
        </p>
        <p>
          <strong>Birthday:</strong> {{ user.Birthday | date }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openEditUserDialog()">
        Edit Account
      </button>
      <button mat-raised-button color="warn">Delete Account</button>
    </mat-card-actions>

    <!-- FAVORITE MOVIES -->
    <div class="favorite-movies">
      <mat-card class="favorites-container">
        <mat-card-header>
          <mat-card-title>Your Favorite Movies</mat-card-title>
        </mat-card-header>

        <mat-card *ngFor="let favorite of FavMovies; let i = index" class="favorites-card">
          <mat-card-header>
            <mat-card-title>{{ favorite.Title }}</mat-card-title>
            <!-- <mat-card-subtitle>Directed by: {{ favorite.Director.Name}}</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content class="image-container">
            <img src="{{ favorite.ImagePath }}" alt="{{ favorite.Title }}" />
          </mat-card-content>
          <mat-card-actions class="favorites-action">
            <button mat-icon-button>
              <mat-icon class="remove-btn">remove_circle</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card>
        <mat-card-content>
          <p>
            <strong>Favorite Movies:</strong> {{ user.FavoriteMovies }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>



</div>